body{
  text-align: center;
  font-size: 14px;
}

body.black {
  background: black;
}

#eleme{
  width: 600px;
  height: 800px;
}

.ops-panel{
  width: 100px;
  position: fixed;
  left: 10px;
  top: 30px;
  text-align: center;
  background: rgba(65, 124, 166, 0.1);
  border-radius: 5px;
}

body.black .ops-panel{
  color: white;
  background: rgba(255, 255, 255, 0.3);
}

.ops-panel ul{
  padding: 0;
  margin: 0;
}

.ops-panel ul li{
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
}

.ops-panel ul li:hover{
  background: rgba(65, 124, 166, 0.2);
}
